@mixin font($fw: 500, $fs: 16px, $lh: 30px, $ls: 0.02em) {
  font-weight: $fw;
  font-size: $fs;
  line-height: $lh;
  letter-spacing: $ls;
}

// .modal-checkbox__text {
//   @include font(400, 14px, 1.71, 0.03em);

//    font-weight: 400;
//   font-size: 14px;
//   line-height: 1.71;
//   letter-spacing: 0.03em;
// }
