%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// .team-social {
//     @extend %flex-center}

//   display: flex;
//   justify-content: center;
//   align-items: center;
